<h1>Teste</h1>

<script>

$( document ).ready(function() {
    
    moment().format('MMMM Do YYYY, h:mm:ss a');
    // alertify.alert("This is an alert dialog.", function(){
    //     alertify.message('OK');
    // });
});
  
</script>